[config]
verbose = 0
[twitter_credentials]
oauth_token=<oauth_token>
oauth_secret=<oauth_secret>
consumer=<token>
consumer_secret=<mysecrettoken>
[database]
host = <database hostname>
port = <database port>
dbname = <database name>
dbuser = <database username>
passwd = <database password>
